[2015-03-07 10:16] mohsenuss91 opened #1 "&> log"
@Jokeren What do you mean by &> log ?

[2015-03-07 10:24] mohsenuss91 opened #2 "can't compile main.cc"
@Jokeren can you show us how to compile this program before using it. I tried to compile DataMining-gSpan/src/main.cc with gcc  but it doesn't work. I got thoses errors.
[code]

[2015-03-11 09:14] Jokeren commented on #2
Hi, @mohsenuss91 . This is because you cannot compile the program in such way. I have included all the compilation commands in the `Makefile`, thereby you can simply use `make` to compile the program.

[2015-03-11 09:17] Jokeren commented on #2
@mohsenuss91 What's more, codes in `src` directory is not the last version, the most up-to-date one is in the `src-multithread` directory. If you only want to apply _1_ thread to run, you can modify `THREAD_NUM` variable in the `common.h` file.

[2015-03-11 09:25] Jokeren commented on #1
I explain it in the latest `readme` file.

Because I have not included a separated log-writer in the program, so I use standard output stream-`printf` to write the result on the console. To redirect the result to the files, you should use redirect operators.

Thanks for your comment, I was preparing for my exam in the last few weeks so that don't have time to update the project.

This program is d

[2015-07-23 10:34] mohsenuss91 opened #3 "data properties"
@Jokeren can you give more details about the properties of each used data  (The number of unique labels graphs in the dataset, The averaged size (the number of edges) of each graph. The density of each graph ...and more if possible) please ?

[2015-07-23 16:23] Jokeren commented on #3
Sorry, currently I could just say I cannot. This is because the dataset is provided by my instructor, who hasn't told me the properties of the graph.

But I think the properties you mentioned could be calculated by extended modules. So If you need those properties, please list them out. I will update them in the next version.

[2015-07-24 16:09] mohsenuss91 commented on #3
@Jokeren  OK, as a mentionned the most important properties are: The number of unique labels graphs , the averaged size (the number of edges) and the density of each graph.

[2015-07-25 04:48] Jokeren commented on #3
This first property--"unique labels graphs", could you explain it specifically? Or present an example?

If you mean the graphs inside the original data, I think they are all different from each other.

[2015-07-25 16:41] mohsenuss91 commented on #3
@Jokeren  I mean edge's labels. for example if a graph has an edge with "A" as a label, "A"  cannot be fount in another graph so its a unique label dataset.

[2015-07-26 01:51] Jokeren commented on #3
let us take the following two graphs as example:

t # 0
v 0 0
v 1 0
e 0 1 1
t # 1
v 0 0
v 1 0
e 0 1 0

As you mentioned above, '0' is a unique label dataset in t2, right? If so, we have to compare a graph with the rest of graphs in a file to generate the unique label dataset? So the final result would be a number of comparisons between graph $$t_{0}-t_{1}$$, $$t_{0}-t_{2}$$...$$t_{n - 1}-t_{n}$$,

[2015-07-26 09:00] mohsenuss91 commented on #3
@Jokeren  right, this is a unique label dataset.

[2015-07-27 06:12] Jokeren commented on #3
Hi, I have updated a rough implementation in another branch : "feature".

You can first check the correctness of the properties, then I will optimize the code and merge it into the master.

[2015-07-29 16:56] mohsenuss91 commented on #3
@Jokeren Where I can find it ! can you give me the properties of chemical_340 and compound_422 please?

[2015-07-29 17:25] mohsenuss91 opened #4 "windows7 32bits"
I tried to execuce make on windows windows7 32bits and here is what I've got:
[code]

[2015-07-30 01:49] Jokeren commented on #3
Just run the program, and it will print properties into the log.

[2015-07-30 01:52] Jokeren commented on #4
Well, there's no `pthread` library in windows, you should use linux instead.

There are some other solutions:
1. Use C++11's `thread` library.
2. Disable multi-thread when detecting windows.

I would first try to implement the second solution.

[2015-07-31 10:00] mohsenuss91 commented on #3
@Jokeren  I tried

[code]

And It works,
but i didn't understand some parts in the result..
what do you mean by "sep" ?

Some parts are empty!
for example:

[code]

Can you simplify this by deleting the empty results ?

PS: please check the density and average size counting parts, I tried it with different datasets, I'm not sure but I thing it's giving a wrong results.

[2015-08-01 03:02] Jokeren commented on #3
1. `sep` indicates "seperator" in graph files, currently you can avoid it.
2. I have simplified the label set in the lastest version.
3. Average size counting is updated.

[2015-08-01 09:06] mohsenuss91 commented on #3
@jokeren Thanks for your hard work.
Please add the number of the  frequent found sub-graphs in the begging of the log file (so the user can directely read the result).

Can you explain this example for me please!

[code]

PS: we say that a dataset has "a unique labelling graphs"only if:
                      for every graph:
                                         edges labels are not found in an

[2015-08-01 11:56] Jokeren commented on #3
1. what do you mean "the begging of the log file", current format is :
   [subgraph_id] : [number of frequent subgraphs]
2. I recheck the edges in t337 and t338:

t 338
e 0 1 3
e 1 2 3
e 2 3 3
e 3 4 3
e 4 5 3
e 5 0 3
e 4 6 0
e 3 7 0
e 2 8 0
e 1 9 0
e 0 10 0
e 5 11 0
e 7 12 2
e 9 13 2

t 337
e 10 11 3
e 11 12 3
e 12 13 3
e 13 14 3
e 14 15 3
e 15 10 3
e 11 16 0
e 12 17 0
e 14 18 0
e 15 19 0
e 3 20 0

[2015-08-01 17:33] mohsenuss91 commented on #3
@Jokeren  I mean that the number of the discovered frequent subgraph must be on the top of the log file, just like average size of graphs and by a **_unique labeling dataset**_ I mean that :
if "x" is a label of an edge, a unique labelling dataset must have "x" only one time in **all the dataset** (not only in one graph ).

[2015-08-02 03:35] Jokeren commented on #3
1. I would not add this feature, since it requires adding a little bit of tricky codes. Besides, the information could be easily obtained by `grep "t #" logxxxx`.
2. I update the feature, and I guess that there are few unique labels in my dataset.

[2015-08-02 10:07] mohsenuss91 commented on #3
@Jokeren  OK, thank you and good luck :)

[2016-01-21 06:09] parnika26 opened #11 "The graph ids in which sub-graphs are present is not listed in the final output with each subgraph"
Hi Jokeren,

I am a research scholar at V.N.I.T, Nagpur, India and I am using your gspan code in my work.
Currently in the final output, the ids of the graphs in which sub-graphs are present are not listed with each sub-graph.
Also, both the output as well as logs are written to the same file.

Could you please make a provision in the code to include the graph ids along with each sub-graph in the

[2016-01-21 15:29] #1 closed

[2016-01-21 15:29] #2 closed

[2016-01-21 15:29] #3 closed

[2016-01-21 15:29] #4 closed

[2016-01-21 15:43] Jokeren commented on #11
Well, thank you for your attention, I will add these features.

But currently I am busy finishing my paper work, as the deadline is coming soon. Thus I plan to handle your issue soon in early February. I promise that I will consider all the features you submitted.

[2016-01-21 16:27] parnikadamle commented on #11
Hi Jokeren,

Sure no problem. I will wait for the modified code.
Thanks a lot for your quick response and help :)
On Jan 21, 2016 21:13, "Keren Zhou" notifications@github.com wrote:

[2016-01-29 06:33] parnikadamle commented on #11
Hi Jokeren,

In my earlier post I requested two changes:-

1) include the graph ids along with each sub-graph in the final output
2) write the output to a separate file.

Every sub-graph present in the final output will always have exactly one
lexicographic parent sub-graph from which the current sub-graph is obtained.

For example, current output has below details:-

t # 3 \* 75
v 0 9
v 1 9
v 2 9

[2016-02-05 10:05] parnikadamle commented on #11
Hi Jokeren,

Just a gentle reminder.

Can you please take a look at my previous post and help me with the listed issues at the earliest?

Appreciate your help in advance.

[2016-02-06 11:36] Jokeren commented on #11
@parnika26 Hi, I have just finished my paper. Thank you for reminding. Tomorrow is Chinese New Year Festival, and I also wish you good luck!

[2016-02-06 11:43] parnikadamle commented on #11
Hi Keren,

Thanks a lot for your quick response.
Wish you a Happy New and prosperous year.
Please let me know when you are done with the changes.
Sorry for the trouble but I need to use those changes in my research work.
Hence, waiting on you :)

Good luck for your paper :)

Appreciate your help in advance.
On Feb 6, 2016 17:06, "Keren Zhou" notifications@github.com wrote:

[2016-02-06 13:24] Jokeren commented on #11
I plan to deal with them from tomorrow on, don't worry. :)

[2016-02-06 16:34] parnikadamle commented on #11
Hi Keren,

Thank you so much :)
On Feb 6, 2016 18:54, "Keren Zhou" notifications@github.com wrote:

[2016-02-07 07:10] Jokeren commented on #11
Please checkout the refine branch, including first two features.
https://github.com/Jokeren/DataMining-gSpan/tree/refine

[2016-02-08 07:14] parnikadamle commented on #11
Hi Keren,

Thanks a lot for the help so far.
I have downloaded the modified code and tried running it. It runs fine.

But I see that the output is written to multiples files [For
ex,Chemical_3400, Chemical_3401, Chemical_3402, Chemical_3403] . Also, the
sub-graphs in these output files are currently written as follows:-

[code]

163 165 166 171 173 176 177 178       185 186 187 190 192 193 206 208

[2016-02-09 03:07] Jokeren commented on #11
Check out first two features.

I have to modify plenty of codes for the third feature, so it is currently in progress.

[2016-02-09 09:41] parnikadamle commented on #11
Hi Keren,

Thanks a lot for the changes.
I have checked first two features and they are fine.

Just a small change.
Instead of writing graph ids on the new line after label 'x:' , can you
please write them on the same line as shown below ?

x 12 26 36 42 52 62 63 64 72 86 92 96 104 112 123 154 162 166 174 181 192
210 221 236 243 252 259 265 270 273 278 282 289 294 307 329

But I am in no hurry for

[2016-02-10 03:31] Jokeren commented on #11
parent graph id updated @parnika26

[2016-02-11 06:39] parnikadamle commented on #11
Hi Keren,

I have downloaded the modified code and tried running it.
It runs fine and gives desired output.

Thank you so much for the help so far :)
It was nice working with you.

In future, if I need some help I will get back to you :)

Once again thanks a lot.

On Wed, Feb 10, 2016 at 9:01 AM, Keren Zhou notifications@github.com
wrote:

##

Regards
Parnika Paranjape

[2016-02-11 08:56] #11 closed

[2016-02-12 12:28] parnika26 opened #13 "Program terminates abnormally for certain frequency threshold"
Hi Keren,

For the mushroom data available on uci machine learning repository, we have obtained the graph representation. Each record is now a graph with vertices and edges.

When I run your gspan code for this input with support=0.3 it runs fine.
But when I run it with lesser support say 0.2 it terminates abnormally.
It gives following error:-

  terminate called after throwing an instance of 'st

[2016-02-13 11:30] Jokeren commented on #13
No problem, I would take a look at your data.

[2016-02-13 13:10] parnikadamle commented on #13
Hi Keren,

Thanks a lot :)
On Feb 13, 2016 17:00, "Keren Zhou" notifications@github.com wrote:

[2016-02-14 01:51] Jokeren commented on #13
Well, after running the program, I notice that the memory consumption is abnormally high.

Therefore I suspect that under the frequency of 0.2, a considerable number of frequent graphs are generated. I intend to revise the code and verify the place where the memory is released. In the way the program finally could be terminated in spite of long running time.

By the way, 1 year after I wrote the c

[2016-02-14 07:00] parnikadamle commented on #13
Hi Keren,

Thanks a lot for the excellent analysis.
Yeah, memory is the issue.
Please let me know once you fix the issue.
On Feb 14, 2016 07:21, "Keren Zhou" notifications@github.com wrote:

[2016-02-15 08:59] Jokeren commented on #13
Hi @parnika26 , have you tried the original version proposed by Yan?

https://www.cs.ucsb.edu/~xyan/software/gSpan.htm

Setting the minimum support as 0.2, the software(gSpan-64) cannot terminate in several minutes, and the memory consumption is extremely high at 8 threads.

Can you run the program and tell me whether it could terminate on your machine?

[2016-02-16 06:18] parnikadamle commented on #13
Hi Keren,

I tried running the gSpan-64 by Yan for the same input with support=0.2.
But the program got killed by the system in few minutes because of high
memory consumption.

Then I tried running gSpan-32 by Yan.
The program is running since 19 hours and has not been terminated yet.
Already 23 GB of data has been generated by the program till now.
But the program is not killed yet.

Please let m

[2016-02-16 07:50] Jokeren commented on #13
When I was writing the program, I had compared  running results of my program with that of gSpan-32 for different data sets. I still remember there's little difference.

Both gSpans (gSpan-32&gSpan-64) by Yan are writing results consecutively onto the disk, so I could check part of the output files to determine where is the problem.

[2016-02-16 10:18] parnikadamle commented on #13
Hi Keren,

I even tried running your code for another data set 'Compound_422' with
support=0.05 and got the same error

   terminate called after throwing an instance of 'std::bad_alloc'
  what(): std::bad_alloc
  Aborted (core dumped)

But when I ran gSpan-32 by Yan for the same input and support=0.05 the
program did terminate successfully and the execution time was 1475.59 sec.

Looking at above

[2016-02-17 08:02] Jokeren commented on #13
Please try the current refine branch. It has following features:
1. new thread split strategy (not verified). you can changed it to the original version by configuring the `Makefile`.
2. add mushroom data
3. thread terminate logs
4. reduce memory consumption.

I have tested the `Compound_422` data with support=0.05 under 8 threads, and it terminates in 670 sec.

Actually, I think the initial confi

[2016-02-18 09:14] parnikadamle commented on #13
Hi Keren,

Thanks a lot for the help so far.

I tried running the refined code for Compound_422 data with support=0.05
under 4 threads and it successfully terminates.
But when I ran the refined code for mushroom data with support=0.2 under 4
threads I got the same issue after running for some time.

  terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
  Abort

[2016-02-18 09:52] Jokeren commented on #13
No problem, but at first I wonder whether your program with gspan-32 running mushroom data has terminated? I remember you said it has run for days?

[2016-02-19 07:38] parnikadamle commented on #13
Hi Keren,

No. The program gspan-32 by Yan did not terminate on its own. I kept it
running for approximately 2 days but it did not terminate.
It generated almost 81 GB of output and program consumed lot of memory due
to which system got very very slow.

And your newer version of code got terminated due to same memory issue
within few minutes for mushroom data at support=0.2 and 4 threads on my
mac

[2016-02-19 16:06] Jokeren commented on #13
Thank you for your reply!

Based on your observation, I think my program cannot terminate no matter what optimization have been done. In contrast to Yan's programs, my gspan program writes out results after the termination of whole mining process. In this way the memory consumption will be high until the results are released.

To solve the problem, maybe I can change the method of writing results.

[2016-02-19 16:08] Jokeren commented on #13
Suddenly I come up with another solution. Maybe there are more efficient graph mining algorithms? Well, I am not specialized in the research area.

[2016-02-20 06:11] parnikadamle commented on #13
Hi Keren,

There is a survey paper based on different graph mining algorithms. So, as
per that paper gspan seems reasonable to me.

Huge data is one of the issues. But we need to work with such data.
So, can you please give a try by modifying the method to write the results
to disk along with graph mining process like Yan's approach instead of
writing them after termination.

I can then test the n

[2016-02-22 01:38] Jokeren commented on #13
OK, I will update the corresponding feature, but please wait for days. My holiday is over and I have to return to work.

[2016-02-22 06:04] parnikadamle commented on #13
Hi Keren,

Sure, I will wait.
Please let me know once you done with the changes.

Thank you so much for being so much helpful :)

On Mon, Feb 22, 2016 at 7:08 AM, Keren Zhou notifications@github.com
wrote:

##

Regards
Parnika Paranjape

[2016-03-02 10:32] parnikadamle commented on #13
Hi Keren,

Just a gentle reminder.
Any update on the corresponding feature that we discussed in previous mails?

Appreciate your help in advance.

On Mon, Feb 22, 2016 at 11:34 AM, parnika paranjape <
parnikaparanjape@gmail.com> wrote:

##

Regards
Parnika Paranjape

[2016-03-03 01:05] Jokeren commented on #13
Sorry, I am still busy dealing with assignments offered by my mentor. I must finish them first, or he will not be satisfied.

Therefore, I am so sorry that I can't guarantee when could I update the corresponding feature.

[2016-03-03 05:57] parnikadamle commented on #13
Hi Keren,

Thanks for the update.

Sorry for the trouble but I intend to use your code for graph mining in my
work.
So, if you could give the desired modifications then it will be really
helpful in my work.

Can you please try to modify the corresponding feature as soon as you done
with your assignments?

Appreciate your help in advance.

On Thu, Mar 3, 2016 at 6:35 AM, Keren Zhou notifications@gi

[2016-03-04 00:04] Jokeren commented on #13
Thank's OK, I am trying to find a balance between tasks given by the mentor and my own activities.

[2016-03-04 02:29] parnikadamle commented on #13
Hi Keren,

Sure, no problem.
Please let me know when you are done with the corresponding feature.

Thanks a lot again.
On Mar 4, 2016 5:34 AM, "Keren Zhou" notifications@github.com wrote:

[2016-03-19 11:12] parnikadamle commented on #13
Hi Keren,

How are you and your work?
Just a gentle reminder.
Did you get any chance to look into the issue and modify the code?

Please let me know since, my work has got stuck on this issue.

I understand that you have lot of work but can you please try to look into
the issue as soon as possible?

Appreciate your help in advance.

On Fri, Mar 4, 2016 at 7:59 AM, parnika paranjape <
parnikaparanj

[2016-03-20 13:56] Jokeren commented on #13
I would try my best, but can you tell me your deadline?

[2016-03-21 03:30] Jokeren commented on #13
@parnika26 see _develop_ branch. In this version, I set up a number to denote the maximum number of patterns remain in the memory. After the frequent patterns exceeding the number, it holds a global lock, and writes patterns to the disk.

By the way, I am really unsure whether the result is correct or not without any test.

[2016-04-15 06:30] parnikadamle commented on #13
Hi Keren,

Sorry for the late response.
I was not well for a long period so, replying late.
I tested your developed branch code.
As compared to previous version, current version consumes less memory.

But sometimes the code gives split thread error  'split thread error! size
1336, thread_size 4' for certain support values. I got this error when I
ran the code for given data set at support >= 0.2.

[2016-04-19 14:56] Jokeren commented on #13
@parnika26 , according to the code, this is because there are less than 4 initial sets that have support >= 0.2.

For example, suppose we have 'A', 'B', 'C', 'D' as initial codes, but the number of all codes start with 'D' is less than 0.2 \* total. In this way we only start with 'A', 'B' and 'C'.

Hence, to run the program with given dataset, we could set support < 0.2 such that all codes satisfy

[2016-04-22 06:03] parnikadamle commented on #13
Hi Keren,

Thanks a lot for the quick response.
I will then try to tun with less support or less number of threads.
Thanks once again for your support so far :)

On Tue, Apr 19, 2016 at 8:26 PM, Keren Zhou notifications@github.com
wrote:

##

Regards
Parnika Paranjape

[2016-04-22 12:34] Jokeren commented on #13
@parnika26 , You are welcome!
I will keep on maintaining this project. :)

[2017-04-28 14:49] dionman opened #15 "Split thread error"
Running the code on
[gspan.txt](https://github.com/Jokeren/DataMining-gSpan/files/964668/gspan.txt)
I am receiving split thread error! size 1, thread_size 4

What is the problem in this?

Kind regards,
Dionysis

[2017-04-29 06:49] Jokeren commented on #15
I have not updated this repository for long time. Let me have a look.

[2017-04-29 16:24] Jokeren commented on #15
Hi, @dionman , after examining my codes, I notice this error happens because of the `ProjectionMap` size. That is, the original projection map only contains one start point greater than the support value, so it cannot be split by four threads. I think it will be fine after adjusting the thread number (`THREAD_NUM`) to 1.

[2017-04-29 16:25] #13 closed

[2017-05-13 05:21] Jokeren commented on #15
@dionman you can try our new version--gBolt now, I believe it could satisfy your requirements now, by setting any number of thread as you need.

[2017-05-13 05:51] Jokeren commented on #15
@dionman , Hi, have you solved your data?

I have tried it, but it appears that as your edge labels and vertex labels are all 1, gspan cannot efficiently solve the problem.

[2017-05-13 09:45] dionman commented on #15
Hi Keren,

Thanks for your interest. Can I use the node degree as the node label?
Moreover, can I apply the algorithm on directed networks?

On Saturday, 13 May 2017, Keren Zhou <notifications@github.com> wrote:

[2017-05-13 11:31] Jokeren commented on #15
1. Yes, you can. Whereas, you have to know that if all labels are the same, gspan may not have the capability to find FSMs. Indeed, as FSM is an NP problem, I think only approximate algorithms could solve it in that case.

2. Yes, the algorithm could be applied to directed networks. However, I have not implemented the feature yet. If you need it soon, you could use other repositories, which are no

[2017-05-27 08:28] acezen opened #16 "directed graph support"
Can this gspan algorithm suport directed graph? if it can, what's diff between this and Yan's paper in subgraph growth( get potential children)?

[2017-06-02 08:11] Jokeren commented on #16
Hi, @acezen,

There is an another python project (https://github.com/betterenvi/gSpan) states that it could support directed graph mining, but the correctness is not sure. Indeed, the author has not presented a single line of proof or even the comparison of experimental results. Notice that the repository is written in Python, so I have not compared gBolt with it since it is unfair.

Anyway, I rem

[2017-06-03 00:42] acezen commented on #16
Here Jokeren, here are somthing I found in web:
1. https://books.google.com/books?id=AfL0t-YzOrEC&pg=PA547&dq=gspan+directed&hl=en&sa=X&ved=0ahUKEwjjpP3XkZ_UAhUIs1QKHfljAgsQ6AEIKDAA#v=onepage&q=gspan%20directed&f=false
in Han's book 《Data Mining》，he give some idea about extend gspan to directed, not quite much。
2. http://www.mysmu.edu/staff/caneleung/pub/notes-gSpanDirected.pdf
this is a paper dis

[2017-06-04 12:38] Jokeren commented on #16
Thank you, it seems that they are helpful! I will have a look.

[2017-06-04 12:38] #15 closed

[2017-09-18 07:41] parnika26 opened #17 "Print Id of the subgraph from which the given subgraph is obtained through single edge extension in the output"
Hi Keren,

I have gone through your tool gBolt and it is very nice.
I have one small requirement in my project explained below.

Suppose, the current subgraph that is generated is as follows
t # 0 * 94
v 0 0
v 1 1
e 0 1 0
x: <list of all graph Ids in which this subgraph 't#0' is present>

From the above subgraph, below subgraph can be generated by adding single edge 'e 0 2 1'
t # 1 * 94
v 0 0
v 1

[2017-09-18 21:26] Jokeren commented on #17
No problem, please wait for some days (no more than a week). I have a great amount of staff to finish recently.

[2017-09-20 04:54] parnikadamle commented on #17
Hi Keren,

Thanks a lot for the update.
Sure, I can wait till that time.
Please inform me once you incorporate those changes.

On Tue, Sep 19, 2017 at 2:56 AM, Keren Zhou <notifications@github.com>
wrote:

--
Regards
Parnika Paranjape

[2017-09-21 07:16] parnikadamle commented on #17
Hi Keren,

Sorry to bother you again.
When I studied the command line options for gBolt, I found that there is already a provision to print the parent Id of each subgraph in the final output of gBolt using '-parent true' option.
However, there is one small issue with this output.
This issue is described in the attached file (both .docx and .txt formats are attached)

[Issue.txt](https://github.com

[2017-09-22 00:10] Jokeren commented on #17
Sure, I will fix it at this weekend.

[2017-09-24 01:16] Jokeren commented on #17
@parnika26 I have added thread ids in the output file, could you check out the correctness for me?

[2017-09-26 06:26] parnikadamle commented on #17
Hi Keren,

Sorry for the late reply.
I was testing the code on multiple inputs so it took a while to respond.
The thread Ids are correct and the remaining output is also correct.
Thank you so much for your support :)

Just one small concern.
I tried running gBolt on the attached input file at support 0.5 and it gave error 'Bus error (core dumped)'.
My system configurations are as follows:

1) Ubun

[2017-09-26 21:12] Jokeren commented on #17
Sure, I will look into the problem

[2017-09-26 21:22] Jokeren commented on #17
I cannot generate results after running on my system for one minute. So I guess some while later it will throw a similar problem as yours.

I notice your graph data is very *dense*, indicating there will be many frequent patterns as long as you set a low support. e.g. 0.5 * 60 = 3.

I will try to locate specific lines in my codes.

[2017-09-27 08:56] parnikadamle commented on #17
Hi Keren,

Thanks a lot for your quick reponse.
Can you please inform me after the issue is fixed?

Appreciate your help in advance.

[2017-11-01 09:51] parnikadamle commented on #17
Hi Keren,

In the current version, the output of gBolt contains the graphs with atleast one edge in it.
However, in my project I also need the graphs with single vertex (i.e. no edge in it).

Can you please also include the graphs with single vertex (i.e. no edge) in the output of gBolt ?
It will be really helpful for my project.

Appreciate your help in advance.

[2017-11-02 05:22] Jokeren commented on #17
@parnika26 I will fix it tomorrow.

[2017-11-02 14:49] Jokeren commented on #17
@parnika26 done

[2017-11-03 05:43] parnikadamle commented on #17
Hi Keren,

I downloaded the latest version of gBolt having the changes done by you yesterday.
I tried running it on various datasets.
However, the output of gBolt still did not have the graphs with single vertex (i.e. no edge).
Also, after the execution it produces the error 'Segmentation fault (core dumped)'
I am attaching the output of gBolt for Chemical_340 dataset and it does not contain the g

[2017-11-03 14:20] Jokeren commented on #17
1. You can tell me your command that crashes the program.
2. The output nodes are in a separate file called *.nodes, e.g. `Chemical_340.nodes`.

[2017-11-04 07:10] parnikadamle commented on #17
Hi Keren,

1) Here is the command:-  ./gbolt -input_file Chemical_340 -output_file gBolt_Output/Chemical_340 -pattern true -support 0.2
2) The output node file *.nodes was not created after I ran above command for Chemical_340 or any other data file.

Appreciate your help in advance.

Attaching the file containing error.
[gBolt_Error.txt](https://github.com/Jokeren/DataMining-gSpan/files/1443020/g

[2017-11-04 13:31] Jokeren commented on #17
@parnika26 fixed.

You should specify `-nodes` option on the command line in order to get the `.nodes` file.

[2017-11-06 07:21] parnikadamle commented on #17
Hi Keren,

It is working now and also producing .nodes file.
However, in the nodes file, the list of graphs Ids are not present for each vertex (i.e. node).
The graph Ids are present for all other subgraphs with atleast one edge.

Can you please add the graph Ids for each vertex in the nodes file ?

For example,
t # 0 * 47
v 0 5
x: <list of graph Ids>

Appreciate your help in advance.

[2017-11-06 07:27] parnikadamle commented on #17
Hi Keren,

My earlier message was incomplete hence, sending it again.
It is working now and also producing .nodes file.
However, in the nodes file, the list of graphs Ids are not present for each vertex (i.e. node).
The graph Ids are present for all other subgraphs with atleast one edge.

Can you please add the graph Ids for each vertex in the nodes file ?

For example,
t # 0 * 47
v 0 5
x: 0 1 3 4

[2017-11-06 15:39] Jokeren commented on #17
@parnika26 fixed

[2017-11-10 04:03] #17 closed

[2017-11-18 08:59] parnika26 opened #18 "Regarding citing this tool"
Hi Keren,

I want to cite your gBolt tool in my paper.
Can you please let me know if there is any paper of yours on gBolt so that I can cite it?
If there is no paper available on gBolt then can you please let me know how to cite your tool in the paper?

Thank you so much in advance.

[2017-11-18 14:39] Jokeren commented on #18
Please see my new `README.md`, I have attached the citation.

[2017-11-21 20:20] Jokeren commented on #18
Hi, @parnika26 , please let me know once your paper is published.

Wish you good luck!

[2017-11-23 02:40] parnikadamle commented on #18
Hi Keren,

Yes sure will inform you :)
I really felt very nice working with you.
Hope to work with you again in the future.
Thank you so much for the support and help you have given so far :)

On Nov 22, 2017 1:50 AM, "Keren Zhou" <notifications@github.com> wrote:

[2018-02-13 10:24] parnikadamle commented on #18
Hi Keren,

I have gone through the opened issue of directed graph support by gBolt. There you mentioned about one python code which can mine the subgraphs from directed graphs. However, correctness is not ensured by the author of the code. Also, I found that gBolt is more accurate and efficient as compared to python version.
In my project, I need to work with directed graphs as well. However, the

[2018-02-13 23:23] Jokeren commented on #18
@parnika26 , Thanks for the comment!

I do know adding direct edge support is meaningful, but the problem is I really do not have spare time to handle this issue. I have a pile of on-goning projects and homeworks this term.

Adding the support is always on my schedule, whereas I cannot gaurantee when I could finish it right now.

[2018-02-15 02:44] parnikadamle commented on #18
Hi Keren,

Thank u so much for ur quick response. Yeah I can understand that you must
be preoccupied with lot of work.
However, can you help me in making the required changes for directed graphs?
If you know the workaround for the changes then can you please share it
with me?

Appreciate your help in advance.

Regards,
Parnika

On Feb 14, 2018 4:53 AM, "Keren Zhou" <notifications@github.com> wrote

[2018-04-05 13:19] theodore3131 opened #19 "About the source code"
Hello, for the database that I need to deal with in my research, the label of edges are strings instead of integers, could you give me some instructions about how to modify the source code so that I can use this for my database?
Thanks!

[2018-04-05 16:11] Jokeren commented on #19
Two solutions:

1. You actually do not need to modify a single line of the source code. Just map your strings to unique ids using a simple script. You are supposed to get the following mapping:

[code]

And of course you need another script to transform ids to strings on the result.

2. If you really want to modify source code, you can take a look at `database.cc`, and change the format of label w

[2018-04-06 06:11] theodore3131 commented on #19
Thank you so much for your solution, I will try it out.

[2018-05-04 10:45] theodore3131 commented on #19
Hi, recently I come across a problem again. For a input graph file which is bigger than 100MB, the gbolt would crash because of segmentation fault (core dumped), can you give me any suggestions about this?
Thanks again!

[2018-05-04 20:17] Jokeren commented on #19
Hi, if it is a core dump, you should send me the core dump file and your binary, or I couldn't figure out the causes.

You can also locate the core dump position and post it on our discussion thread.

[2018-05-06 05:45] theodore3131 commented on #19
It reads like follows on the terminal:
[code]

[2018-05-06 07:32] Jokeren commented on #19
I think you misunderstand my instructions.

Please send me your data and your arguments to run the program. I will try to figure it out.

[2018-05-06 12:39] theodore3131 commented on #19
Oh, sorry. Here are my commands and the file:

[code]
[rgraph.zip](https://github.com/Jokeren/DataMining-gSpan/files/1977620/rgraph.zip)

[2018-05-06 16:37] Jokeren commented on #19
The bug is caused by your rgraph data.

In rgraph, you have total the number of graphs different from the last graph id given by indicator "t #". Please examine your data and make sure there's no "hole" between two graph ids.

[2018-05-06 16:49] Jokeren commented on #19
I will also modify the code to make it more robust.

[2018-05-06 23:24] Jokeren commented on #19
Problem fixed.

Also please delete the last "t # -1" entry from rgraph.

[2018-05-07 00:01] theodore3131 commented on #19
This do works and saves me a lot of time.
Thank you so much for your kind help!

[2018-05-07 00:02] Jokeren commented on #19
You're welcome, please let me know if you have further questions.

[2018-05-07 00:02] #19 closed

[2019-01-31 01:17] andrewguy opened #20 "Do vertices need to be sequentially ordered in input file? (possible bug)"
Hi Jokeren,

Love your work with this tool, it's been very useful so far.

I've come across what could be a bug. If the nodes don't appear sequentially in the input file, then some subgraphs aren't identified when they should be. Is there a requirement for all nodes to appear sequentially (according to the node id) within the input file? If so, this should probably be documented somewhere.

I've a

[2019-01-31 04:10] Jokeren commented on #20
“Is there a requirement for all nodes to appear sequentially (according to the node id) within the input file?”

Yes, they should be sequentially ordered without holes. The graph structure uses an array (vector) to store all the nodes and take indices of the array to fetch nodes.

You are right, it's better to document this specification somewhere. I do not want to add implementations to support r

[2019-01-31 04:14] Jokeren commented on #20
Now, I am considering to rollback my graph id with holes feature and instead add an input format specification. I have seen many people getting problems with the input, and I do not have time to adjust implementations for everyone.

Thanks for your feedback!

[2019-01-31 08:44] andrewguy commented on #20
Great to know, thanks. I agree, proper input format specification is all that is needed. If people want to deal with other input formats (such as myself), then a small wrapper script will do the job.

I have to admit, the lack of input format specification did put me off using gBolt initially - it was only after using Yan's tool that I came back to this.

One other question - is there any similar

[2019-01-31 22:12] Jokeren commented on #20
You just need to denote all the edges after all the vertices of the same graph.

[2019-02-01 02:34] andrewguy commented on #20
Great, that's what I've been doing.

I'm closing this issue as I think it's been adequately resolved - I just need to make sure all input nodes are sequential and without holes when writing input files.

[2019-02-01 02:34] #20 closed

[2019-03-05 15:47] VOID001 opened #21 "Does gbolt support input files larger than 5GB?"
Hello Jokeren,
I am helping my friends use gbolt with a 5GB dataset, however it keeps gives the segmentation fault and each time the dmesg seems crash on different part, I am sorry but I cannot provide the core file this time. And I am not familiar with data mining, so I've go through the issues and found that if my dataset is in wrong format then the program may crash down. However I verify the d

[2019-03-05 16:08] VOID001 commented on #21
By the way I build the program on the master branch

[2019-03-05 17:03] Jokeren commented on #21
The amount of memory used depends on the data. For some cases, you can think of the peaking memory consumption more than 200x comparing to the original size.

I am currently in the process of rolling out a new version which is faster and memory efficient, but it won't be available until summer. As graph mining is not my research focus, I really do not have free time slots right now.

I am trying t

[2019-03-05 17:14] Jokeren commented on #21
Sometimes memory error occurs not because of insufficient memory, but it's actually stack memory overflows due to recursive function calls as some data structures are allocated on stack.

[2019-03-05 23:18] VOID001 commented on #21
Thanks for the quick response! Yeah, I found him got OOM on a 1TB machine when runnning the program (on a 40GB dataset :O)
So maybe a 5GB dataset is not able to pass the memory consumption requirment :P

[2019-03-05 23:19] VOID001 commented on #21
Yeah, I will try to increase the default stack size, and try to get a core file to look into first.
Thanks for your response :)

[2019-03-05 23:40] VOID001 commented on #21
Should I use -O0 to debug the stack footprint? or I could just use -O3 and see the stack backtrace? Will -O3 contains possible flaws (optimization, etc)?

[2019-03-06 04:56] Jokeren commented on #21
-O3 -g or -O2 -g or CMAKE_BUILD_TYPE Debug, whatever you want.

It's possible that compiler optimizations may affect the correctness, but I don't think it applies to my code.

It's probably better to set the number of threads to be one while you are debugging.

[2019-03-06 05:04] Jokeren commented on #21
If the data are not credential, you guys can upload them somewhere on the internet so that I can test my new branch. I haven't tried any real world data yet, though Facebook guys told me gBolt ran correctly and efficiently in their circumstance. With the help of your data, we can work together to make gBolt a better tool.

I probably know where the problems are, and I know exactly the solution to

[2019-03-06 05:11] VOID001 commented on #21
Thank you , I am trying to debug it such as detecting the stack depth and try to make a auto increasing stack, I will contact him if he could provide the dataset. If I cannot make it, I might go and ask if you could help, I am very appreciated your quick reply although you are not currently working on this project. And I also recommend my friend to have a Skype voice chat with you. Wish the projec

[2019-03-11 20:45] #21 closed

[2019-10-15 09:53] zhiyang3344 opened #23 "The Problem of Unable to Mining Frequent Subgraphs of Large Graphs"
Hello, gbolt can't mine frequent subgraphs of large graphs. Each of my large graphs has about 200 vertices and thousands of edges. gSpace can mine maps of this size, but gBolt can't. My maps are as follows(only 2 graphs):
t # 0
v 0 0
v 1 1
v 2 2
v 3 3
v 4 4
v 5 5
v 6 6
v 7 7
v 8 8
v 9 9
v 10 10
v 11 11
v 12 12
v 13 13
v 14 14
v 15 15
v 16 16
v 17 17
v 18 18
v 19 19
v 20 20
v 21 21
v 22 22
v 23 23

[2019-10-15 16:12] Jokeren commented on #23
Please send the graph as a file to my email address.

Can you point me a link to gSpace? What support threshold did you use?

[2019-10-16 01:40] zhiyang3344 commented on #23
hi~

the command is :
./build/gbolt -i /xxx/outputs/lenet5_graph_4l.data -s 0.2 -n -d -p -o /xxx/outputs/frequentSubgraph/test

At 2019-10-16 00:12:39, "Keren Zhou" <notifications@github.com> wrote:

Please send the graph as a file to my email address.

Can you point me a link to gSpace? What support threshold did you use?

—
You are receiving this because you authored the thread.
Reply to this em

[2019-10-29 09:18] zahidmadeel opened #24 "Error while trying to install gbolt"
Hello,
I was trying to install this utility on my ubuntu machine. Below is the sequence I followed
[code]

I have gcc version 5.4.0 and cmake version 3.15.4. Please let me know if I am doing anything worng?

Regards
Adeel

[2019-10-29 16:01] Jokeren commented on #24
Try this in the first step:

`git clone --recursive https://github.com/Jokeren/gBolt.git`

[2019-10-29 18:13] yz555 commented on #24
I tried git clone --recursive https://github.com/Jokeren/gBolt.git but it was failed .
![image](https://user-images.githubusercontent.com/26554051/67796335-43045680-fa56-11e9-9969-710b2083fed6.png)

[2019-10-29 21:10] Jokeren commented on #24
@yz555 , not sure about your problem. Check if the following solution works:

https://confluence.atlassian.com/stashkb/git-clone-fails-error-rpc-failed-result-56-http-code-200-693897332.html

If you couldn't clone dependencies by git, you can always download them manually.

cxxopts: https://github.com/jarro2783/cxxopts/tree/a0de9f3ba1035a3c4f5ffcd960cb94e4e12d40c5
jemalloc: https://github.com/jema

[2019-10-30 14:47] yz555 commented on #24
@Jokeren Thank you Keren, this problem already been solved. But the other question I want to ask is where is the path you write the output of gBolt  result? I run ./build/gbolt -i extern/data/Chemical_340 -s 0.2, it worked, but I don't know where to find the subgraphs results for it.

[2019-10-30 15:05] yz555 commented on #24
@Jokeren Thank you Keren, the problem already been solved.

[2019-10-31 14:09] yz555 commented on #24
@Jokeren Hello Keren, I met the problem that Segmentation fault (core dumped) occurred when I used my data which followed the format you asked, and I have no idea why this error occurred.  I attached my data file here, would you please let me know if I am doing anything wrong?
The command I used:
yzhang@codec:~/gBolt$ ./build/gbolt -i extern/data/combined10-3month.txt -s 0.2 -d -n -o extern/result

[2019-10-31 15:17] yz555 opened #25 "Error while trying to run gbolt"
Hello Keren, I met the problem that Segmentation fault (core dumped) occurred when I used my data which followed the format you asked, and I have no idea why this error occurred. I also tried different set OMP_NUM_THREADS=4, or 1 or 8, but all gave me the same error. I attached my data file here, would you please let me know if I am doing anything wrong?
The command I used:
yzhang@codec:~/gBolt$ .

[2019-10-31 15:21] yz555 commented on #23
@Jokeren I think I have the same issue as @zhiyang3344 and I attach several graphs in the file here, would you please have a look and let me know how to solve it? Thanks.
[combined10-3month.txt](https://github.com/Jokeren/gBolt/files/3794517/combined10-3month.txt)

[2019-10-31 17:11] Jokeren commented on #25
@yz555, The graph ids you provided are not in sequence.

You have t # 0, t # 1, the following graph is t # 10 while the correct graph should be t # 2.

However, I am not sure if gBolt could handle your case. It ran forever on my machine.

Try gaston and please let me know what you find.

http://liacs.leidenuniv.nl/~nijssensgr/gaston/download.html

[2019-10-31 18:41] yz555 commented on #25
@Jokeren Thank you Keren, I will try gaston and will let u know if I find it works.

[2019-10-31 19:16] yz555 commented on #25
@Jokeren I found the Known Issue of Gaston on its Readme.file. It is infeasible to handle more than 64 edges, while in my file, almost every graph has more than 64 edges since each graph contains more than 100 nodes on average. Besides your C++ efficient implementation of gSpan alogorithm, I also tried python implementation of gSpan (https://github.com/betterenvi/gSpan), it was stuck when I set mi

[2019-10-31 19:49] Jokeren commented on #25
Try to invent a new algorithm and publish a paper by yourself?

There are several optimizations we could do for gBolt:

1. Use iterative patterns instead of recursive calls.
2. Implement some ideas from Gaston.
3. Write files during execution.

However, if the number of frequent graphs is expected to be large, then probably there's no way to optimize. Maybe you can selectively output only a portio

[2019-11-01 17:03] yz555 commented on #25
@Jokeren Keren, thank you very much for your explanation and suggestion. If have difficulties to optimize it, would you please help me later LOL.

[2019-11-01 23:26] Jokeren commented on #25
Unfortunately, I may not have free time slots to optimize gBolt at this moment. I can provide advice if you would like to do some work.

[2020-02-22 15:47] thinhtpq commented on #25
Hello Keren,
I met problem Segmentation fault (core dumped) when I ran gBolt with my dataset. It includes two graphs and their ID is sequence. I attached file below. Would you please let me know what it wrong?
[gSpan_Thinh.txt](https://github.com/Jokeren/gBolt/files/4239553/gSpan_Thinh.txt)

Best regards.
Thinh

[2020-02-22 22:25] Jokeren commented on #25
@thinhtpq , there is an empty line between two graphs `t # 0` and `t # 1`.

[2020-02-23 12:16] thinhtpq commented on #25
@Jokeren: It works! Thank you very much.

[2020-03-02 01:19] #25 closed

[2021-07-31 19:44] Yamahari opened #26 "Implement CloseGraph"
Hi, would consider upgrading this implementation of GSpan to support CloseGraph via a command line option? https://sites.cs.ucsb.edu/~xyan/papers/CloseGraph.pdf

[2021-08-01 01:38] Jokeren commented on #26
@Yamahari Seems interesting. Thanks for the paper.

Unfortunately, I don't seem to have time on this project in the short term. Will consider it later.

[2021-08-01 19:43] Yamahari opened #27 "Incorrect(?) output for test data"
Hi,
I was trying out gBolt on some test data I created and I am not sure whether or not I am getting the expected output.
I tested the same data on a gaston miner implementation and provided the seemingly correct output in the following .zip.

[gBolt-Tests.zip](https://github.com/Jokeren/gBolt/files/6913286/gBolt-Tests.zip)

"graphs_numeric.lg" is the input file, "graphs.lg" is the original file w

[2021-08-01 20:35] Jokeren commented on #27
Thanks for the data. Do you mean gBolt's result is different from gaston's?

[2021-08-01 20:50] Yamahari commented on #27
Yes very different, the output looks really odd, but I am not sure whether or not I am at fault for providing a faulty input/ gSpan is not able to handle this kind of graph/implementation bug
I used the gaston miner implemented here https://github.com/timtadh/parsemis

[2021-08-01 22:28] Jokeren commented on #27
It's good to know the other project.

The graph data you attached seems violating gspan/gbolt's specification.

https://github.com/Jokeren/gBolt#input-specification

`<vertex-id>` must be contiguous without gaps

[2021-08-01 22:35] Jokeren commented on #27
I'll take a further look once have time. The code itself does not force the constraint and I forgot why I wrote the specification like this.

[2021-08-02 08:40] Yamahari commented on #27
So the vertex id should not start at 0 again if there's more than 1 graph?

[2021-08-02 09:21] Yamahari commented on #27
I tried with ordered vertices and the output seems to be the same, here's the input file with ordered
[graphs_numeric.txt](https://github.com/Jokeren/gBolt/files/6915836/graphs_numeric.txt)